<DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pagina {{pageTitle}}</title>
    </head>
    <body>
        {{> header}}
        <p>Del testo qui.</p>
        {{> footer}}
    </body>
</html>